*{
	box-sizing: border-box;
}
html, body{
	font-family: $fonts1;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
}
.hidden{
	display: none;
}
.wrp{
	letter-spacing: .4px;
}