.header {
	img{
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
	h2{
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 0.4px;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
	}
	p{
		color: #fff;
		font-size: 12px;

		letter-spacing: .4px;
		margin: 0;
		text-align: center;
	}
	&__berik{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	&__online{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	&__circle{
		width: 120px;
		height: 120px;
		margin: 0 auto 20px;
		background-image: url("../img/play.png");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center;
		background-color: #0083cc;
		border: 2px solid #fff;
		border-radius: 50%;
		cursor: pointer;
		&.stop{
			background-image: url("../img/stop.png");
		}
	}
}