.navbar-default{
	box-shadow: none;
	background-image: none;
	background-color: #8cddcd;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	.nav{
		a{
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			padding: 13px 15px;
			&:hover{
				background-color: #fff;
				color: #CDA267;
			}
		}
	}
}
.navbar-collapse{
	background-color: none;
	height: 100%;
}