.upline{
	padding: 60px 0;
	text-align: center;
	a{
		color: #fff;
		font-size: 20px;
		letter-spacing: .4px;
		font-weight: bold;
		text-decoration: none;
		display: inline-block;
		margin: 0 12px;
	}
}